body, html {
  font-size:90%
}

.mainDiv {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background: linear-gradient(to right, #ECF2FF, #FBFCFF); */
}

.leftSectionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/back.png');
  background-size: cover;
  min-width: 35%;
  max-width: 35%;
  height: 100vh;
  text-align: center
}

.leftDivLogo {
  height:22%;
  width:-webkit-fill-available
}

.formSection {
  margin-top: 1em;
  height: 100%;
  width: 70%;
  padding: 0 12px;
  text-align: center;
}

.textDescription {
  font-family: Cambria, sans-serif;
  font-size: 18px;
  text-align:center
}

.textDescription h3 {
  font-family: Cambria, sans-serif;
  margin: 0;
}

.form {
  margin-top:1em;
  margin-left: 25%;
}

.inputFieldset {
  width: 65%;
  border-radius: 10px;
  border: 2px solid #b0aaaa;
  color: black;
}

.errorFieldset {
  width: 65%;
  border-radius: 10px;
  border: 2px solid red;
  color: black;
}

.inputVal {
  background:none !important;
  padding: 0.8em;
  font-size: 16px;
  width: 90%;
  border:none;
  outline:none;
}

.transparentButton {
	background: none;
	border: none
}

.errorMessage {
  color: #ee0b0b
}

.passwordPattern {
  margin-left:1em;
}

.position {
  float: left;
  width: 65%;
  color:#3498db;
  background:none;
  font-size: 16px; 
  border: none
}

.locationError {
  float: left;
  width: 65%;
  margin-bottom: 0.5em;
  background: none;
  font-size: 12px;
  border: none;
}

.btnUser { 
  float: left;
  width: 65%;
  height: 6vh;
  color: #fff;
  font-size: 18px;
  background: #33528b;
  border-radius: 10px;
  border: none
}

.register {
  float: left;
  font-size: 15px;
  color: black;
  background: none;
  border: none;
  width: 65%;
}

.logoImg {
  width: inherit;
  max-width: 15em;
  padding: 1em;  
}

.homeBtn {
  background: none;
  border: none;
  color: #33528b;
  margin-left: 0.5em;
  font-size: 16px;
  cursor: pointer;
}

.disabledBtn {
  background: grey
}

@media screen and (max-width: 900px) {
  .mainDiv {
    align-items: start;    
  }
  
  .logoImg {
    display:none
  }

  .formSection {
    margin-top: 1em;
    width: 100%;
  }

  .form {
    margin-left: 0%;
  }

  .textDescription h3 {
    font-family: Cambria, sans-serif; 
  }

  .inputFieldset {
    width: 100%;
  }
  
  .errorFieldset {
    width: 100%;
  }

  .btnUser { 
    float: left;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .position {
    float: left;
    width: 100%;
    color:#3498db;
    background:none;
    font-size: 16px; 
    border: none
  }

  .locationError {
    width: 100%;
  }

  .register {
    width: 100%;
  }
}

/* Responsive */
@media screen and (max-width: 600px) {

  .mainDiv {  
    align-items: start;
  }

  .logoImg {
    display:none
  }
  
  .formSection {
    margin-top: 1em;
    width: 100%;
  }

  .form {
    margin-left: 0%;
  }
  
  .leftSectionDiv {
    display: none;
  }

  .inputFieldset {
    width: 100%;
  }
  
  .errorFieldset {
    width: 100%;
  }

  .btnUser { 
    float: left;
    width: 100%;
  }

  .position {
    float: left;
    width: 100%;
    color:#3498db;
    background:none;
    font-size: 16px; 
    border: none
  }
  
  .locationError {
    width: 100%;
  }

  .register {
    width: 100%;
  }
}
