.mainsection {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  width: 100%;  
}

.leftdiv {
  width: 45%
}

.logoimg {
  width: 7%;
  margin-top: 2em;
  margin-left: 1em
}

.brandnamediv {
  margin: 10em;
  margin-top: 7em;
  text-align: center;
}

.brandname {
  color: #465670;
  font-size: 50px;
  font-weight: bold
}

.hometext {
  color: #465670;
  font-size: 35px;
  vertical-align: super;
}

.homedesc {
  color: #465670;
  font-size: 16px
}

.btngrp {
  margin-top: 3em
}

.logintext {
  color: #465670;
  font-size: 14px
}

.loginbtn {
  width: 80%;
  height: 40px;
  color: #465670;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 2em;
  margin-top: 1em;
  border: 1px solid #465670;
  text-transform: uppercase;
}

.signupdiv {
  margin-top:3em
}

.registerbtn {
  width: 84%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #33528b;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid #465670;
  text-transform: uppercase;
}

.rightdiv {
  width: 55%;
  height: 99%;
}

.rightdiv img {
  width: 100%;
  height: 100%;
  padding: 4em;
  border-radius: 7em;
}

@media screen and (max-width: 992px){
.leftdiv {
  width: 100%
}

.logoimg {
  margin: auto;
  width: 20%;
  margin-left: 42%;
  margin-top: 4em;
}

.brandnamediv {
  margin: 2em;
  margin-top: 2em;
}

.brandname {
  font-size: 45px;
}

.hometext {
  font-size: 28px;
}

.homedesc {
  font-size: 12px
}

.rightdiv {
  display: none;
}


}