.navTabName {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 1.5em;
  font-size: 2em;
  font-weight: 800;
  width: 88%;
}

.desktopNav {
}

.table {
  font-size: 1rem;
  overflow: hidden;
  margin: 1em;
  background: #fff;
  border-radius: 0.7em;
  margin-right: 3em;
  margin-left: 3em;
}

.header {
  display: grid;
  grid-template-columns: 1.2fr 0.7fr 0.4fr 0.8fr 1.3fr 1.2fr 1.2fr 0.7fr 0.7fr 1.2fr;
  column-gap: 2.3em;
  align-items: center;
  /* background-color: #33528b; */
  color: black;
  font-size:13px;
  /* border-bottom: 1px solid #c1c3c4; */
  font-weight: bolder;
  padding: 0.5em;
  padding-bottom: 1em;
  padding-top: 1em; 
}

.headerColumns {
  /* border-right: 1px solid #c1c3c4; */
}

.tableData {
  display: grid;
  grid-template-columns: 1.2fr 0.7fr 0.4fr 0.8fr 1.3fr 1.2fr 1.2fr 0.7fr 0.7fr 1.2fr;
  column-gap: 2.3em;
  align-items: center;
  padding: 0.5rem;
  /* border-bottom: 1px solid #c1c3c4; */
}

.tableColumn {
  font-size: 1.15em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: flex;
}

.tableData:nth-child(even) { 
  background-color: #f6f7fc; 
} 

.confirm {
  color: #269641 !important;
  background: #eafaf0 !important;
  padding: 0.5em;
  border-radius: 20px;
  border: 1.7px solid #9fbca8 !important;
  padding-left: 1em;
  padding-right: 1em;
}

.cancel {
  color: #f3726e !important;
  background:#fcf3f4;
  padding: 0.5em;
  border-radius: 20px;
  border: 1.7px solid #fbaeac !important;
  padding-left: 1em;
  padding-right: 1em;
}

.mobileNav {
  display: none;
}

.eta {
  text-align: right !important;
  color: red;
  width: 85%;
  font-weight: bold
}

@media screen and (max-width: 900px) {

  .navTabName {
    width: 88%;
    padding-top: 1em;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
  }
 
  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: grid;
    width: 97%;
    margin: auto;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em;
    border-radius: 20px;
  }
  
  .card {
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    background: #dcdee221;
    width: 100%;
    margin-bottom: 1em;
  }

  .topdiv {
    display: flex;
    justify-content: space-between;
  }

  .hospitalname {
    font-size: 18px;
    font-weight: 600;
  }

  .status {
    font-size: 14px;
    font-weight: normal;
  }

  .bookingStatusConfirmed {
    color: #00be64 !important;
    font-weight: bold;
    font-size:14px;
    margin-bottom:0.5em;
  }

  .bookingStatusCancelled {
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0.5em;
  }

  .appointmentdiv {
    width: 100%;
    /* background: green; */
    border-bottom: 1px solid grey;
    color: #fff;
    margin: auto;
    margin-top: 0.1em;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 10px;
    padding-right: 10px; */
  }

  .appointmenttext {
    font-size: 13px;
    color: black
  }

  .eta {
    font-size: 16px;
    font-weight: 600;
    width: 50%;
  }

  /* .cancelBtn {
    background: #ecf3ff;
    color: #465670;
    padding: 1em;
    border: none;
    width: 50%;
    font-size: 14px;
    border-radius: 20px;
    margin-right: 2px;
    cursor: pointer;
  }

  .directionBtn {
    background: grey;
    color: #fff;
    padding: 1em;
    border: none;
    width: 40%;
    font-size: 14px;
    border-radius: 20px;
    margin-right: 2px;
    cursor: pointer;
  } */
}