.mainsection {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  width: 100%
}

.leftdiv {
  width: 45%
}

.logoimg {
  width: 7%;
  margin-top: 2em;
  margin-left: 1em
}

.brandnamediv {
  margin: 10em;
  margin-top: 2em !important;
}

.brandname {
  color: #465670;
  font-size: 40px;
  font-weight: bold
}

.logintext {
  color: #667085;
  font-size: 16px
}

.form {
  margin-top: 3em
}

.formrowdiv {
  border-radius: 8px;
  width: 100%;
  margin-top: 0.4em;
  padding-left: 10px;
}

.inputFieldset {
  border: 1px solid #b0aaaa;
}

.errorFieldset {
  border: 1px solid red;
}

.input {
  height: 40px;
  width: 90%;
  border: none;
  outline: none;
}

.PhoneInput, input {
  height: 40px !important;
  width: 90% !important;
  border: none !important;
  outline: none !important;
}

.transparentButton {
  background: none;
  border: none
}

.btnUser {
  float: left;
  width: 100%;
  height: 44px;
  color: #fff;
  font-size: 16px;
  background: #33528b;
  border-radius: 10px;
  margin-bottom: 2em;
  margin-top: 1em;
  border: none
}

.register {
  text-align: center;
  font-size: 14px;
  color: #465670;
  width: 100%;
  padding-bottom: 3em;
}

.homeBtn {
  margin-left: 0.4em;
  background: none;
  border: none;
  color: #33528b;
  cursor: pointer
}

.rightdiv {
  width: 55%;
  height: 99%;
}

.rightdiv img {
  width: 100%;
  height: 100%;
  padding: 4em;
  border-radius: 7em;
}

.position {
  float: left;
  width: 100%;
  color:#3498db;
  background:none;
  font-size: 16px; 
  border: none
}

.locationError {
  float: left;
  width: 100%;
  margin-bottom: 0.5em;
  background: none;
  font-size: 12px;
  border: none;
}

.disabledBtn {
  background:grey;
  cursor: not-allowed;
}

@media screen and (max-width: 600px){

  .leftdiv {
    width: 100%
  }

  .brandnamediv {
    margin: 2em;
    margin-top: 8em;
  }

  .brandname {
    font-size: 32px;
  }

  .logintext {
    font-size: 14px
  }

  .rightdiv {
    display: none;
  }

  .logoimg {
    margin: auto;
    width: 20%;
    margin-left: 13em;
    margin-top: 6em;
  }

  .homeBtn {
    font-size:14px
  }
}