body {
  background: linear-gradient(to right, #ECF2FF, #FBFCFF); 
}

.mobileNav {
  display: none;
}

.cardContainer {
  /* margin:2em;
  border-radius:20px */
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 2em;
}

.card {
  width: calc(100% - 10px); /* Each card takes up 33.33% width with spacing */
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  height: 10em;
}

.imgImage {
  //width: 120%;
  height: 100%;
  /* width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px */
}

.itemDesc {
  float: left;
  width: 30%;
  padding-top: 1.7em;
}

.checkInDesc {
  
}

.phone {
  margin-top:5px;
  margin-bottom:5px
}

.icon {
  margin-right:6px
}

.table {
  border: 1px solid #c1c3c4;
  font-size: 1rem;
  overflow: hidden;
  background: #fff;
  border-radius: 0.7em;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 2fr 0.7fr 0.3fr;
  column-gap: 0.2em;
  align-items: center;
  /* background-color: #f7f7f9; */
  background-color: #33528b;
  color: #fff;
  border-bottom: 1px solid #c1c3c4;
  font-weight: bolder;
  padding: 0.5em;
  padding-bottom: 1em;
  padding-top: 1em; 
} 


.tableData {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 2fr 0.7fr 0.3fr ;
  column-gap: 0.2em;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #c1c3c4;
}

.tableColumn {
  font-size: 1.15em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: flex;
}

.table:nth-child(even) { 
  background-color: #f3f3f3; 
} 

.confirm {
  color: limegreen !important;
}

.cancel {
  color: red !important;
}

.cancelBtnn {
  text-align: center;
  margin-left: 35%;  
  background: none;
  border: none;
}

.navTabName {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 3.5em;
  font-size: 2em;
  font-weight: normal;
  /* font-family: 'Rubik', sans-serif; */
  
  width:88%;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .desktopNav {
    display:none;
  }

  .mobileNav {
    display: grid;
    width: 97%;
    margin: auto;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:1em;
    border-radius:20px
  }
  
  .card {
    width: calc(100% - 10px); /* Each card takes up 33.33% width with spacing */
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-sizing: border-box;
    height: fit-content;
    padding:10px
  }

  .checkInLeftDiv {
    border:1px solid #fff;
    width:40%;
    margin-bottom:1em
  }

  .checkInRightDiv {
    border:1px solid #fff;
    width:60%;
    text-align:right;
    margin-bottom:1em
  }

  .checkInDate,
  .clinicName,
  .clinicContact {
    display: block;
    align-items:center;
    font-size: 1.2em;
  }

  .checkInTime {
    display: block;
    font-size: 2.2em;
  }
  
  .bookingStatus {
    padding: 5px;
    width: 50%;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
  }

  .bookingStatusConfirmed {
    background: green;
  }

  .bookingStatusCancelled {
    background: red;
  }

  .cancelBtn {
    padding: 10px;
    border: none;
    width:100%;
    font-size:12px;
    border-radius:5px;
    margin-right:2px;
    cursor:pointer
  }
  
  .directions {
    margin-top:0.7em;
    padding: 10px;
    color:white;
    background:#32518b;
    border:none;
    font-size:12px;
    border-radius:5px;
    cursor:pointer
  }

  .navTabName {
    font-size: 1.4em;
    font-weight: normal;
    width:88%;
    margin-left: 0em;
    padding-top: 1em;
    margin:auto;
  }
}