<!-- <ion-content *ngIf="screen === 'signin'">
  <div class="main-div">
    <div class="logo-div">
      <img class="logo-img" src="../../assets//images/2.png">
    </div>
    <div style="margin-left: 2em;color: #fff;">
      <h1 class="heading">Welcome to</h1>
      <p class="para">Rurban</p>
    </div>
    <div class="lower-div">
      <div class="button-group">
        <button class="btn" [ngClass]="userType === 'Patient' ? 'active' : ''" (click)="switchUser('Patient')">
          Patient</button>
        <button class="btn" [ngClass]="userType === 'Hospital' ? 'active' : ''" (click)="switchUser('Hospital')">Hospital</button>
      </div>
      <app-signin (newItemEvent)="switchpar($event)" [userType]="userType" *ngIf="screen === 'signin'" />

    </div>
  </div>
</ion-content>

<app-signup (newItemEvent)="switchpar($event)" [userType]="userType" *ngIf="screen === 'signup'" /> -->