.mobileNav {
  display: none;
}

.cardContainer {
  /* margin:2em;
  border-radius:20px */
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 2em;
}

.card {
  width: calc(100% - 10px); /* Each card takes up 33.33% width with spacing */
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  height: 10em;
}

.imgImage {
  //width: 120%;
  height: 100%;
  /* width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px */
}

.itemDesc {
  float: left;
  width: 30%;
  padding-top: 1.7em;
}

.bookingDesc {
  
}

.phone {
  margin-top:5px;
  margin-bottom:5px
}

.icon {
  margin-right:6px
}

/* Responsive */
@media screen and (max-width: 600px) {
  .desktopNav {
    display:none;
  }

  .mobileNav {
    
    display: grid;
        width: 97%;
        margin: auto;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:2em;
    border-radius:20px
  }
  
  .card {
    width: calc(100% - 10px); /* Each card takes up 33.33% width with spacing */
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35em;
    cursor: pointer;
  }

  .imgImage {
    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
  }

  .itemDesc {
    width: 85%;
    padding-top: 0em;
  }

  .bookingDesc {
    margin-right: 1em;
    margin-top: 1em
  }

  .phone {
    margin-top:5px;
    margin-bottom:5px
  }

  .icon {
    margin-right:6px
  }

  

  }