.navbarSection {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5em;
  background-color: white;
  box-shadow: 1px 1px 6px -3px gray;
}
.navbarTitle a {
  color: #1A8EFD;
  letter-spacing: .6px;
  text-decoration: none;
}
.navbarTitle {
  font-family: 'Poppins', sans-serif;
}

.searchContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
}

.searchInput {
width: 100%;
background: none;
border: 0;
margin-right: 0px;
outline: 0;
height: 1.8em;
}

.searchIcon {
  width: 20%;
  background: none;
  font-size: 20px;
  color: #1A8EFD
}

.navbarSign {
  color: #54de54;
  font-family: Cambria, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.navbarItems {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-family: 'Rubik', sans-serif;
}
.navbarItems > li {
  list-style-type: none;
}
.navbarLinks {
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: .8px;
}
.navbarLinks:hover {
  color: #0cc2ea;
}
.navbarBtn {
  padding: 14px 20px;
  color: white;
  border: 1px solid transparent;
  border-radius: 28px;
  outline: transparent;
  background-color: #1A8EFD;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: .8px;
  cursor: pointer;
  transition: all .4s ease;
}
.navbarBtn:hover {
  color: #1A8EFD;
  background-color: white;
  border: 1px solid #1A8EFD;
}
/* Hamburger Icon */
.mobileNav {
  display: none;
}
.hambIcon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.hambIcon:hover {
  color: #0cc2ea;
}
/* Mobile Navbar */
.mobileNavbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: white;
  z-index: 20;
  justify-content: center;
  align-items: center;
  transition: left .5s ease-in-out;
}
.mobileNavbarclose {
  position: absolute;
  top: 28px;
  right: 28px;
}
.mobileNavbarclose .hambIcon:hover {
  color: rgb(255, 22, 22);
}
.openNav {
  left: 0;
}
.mobileNavbarLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 24px;
  text-align: center;
}
.mobileNavbarLinks li a {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: .8px;
  transition: color .3s ease-in-out;
}
.mobileNavbarLinks li a:hover {
  color: #0cc2ea;
}

.navTabMob {
  display:none
}

.navTabName {
  display:none
}

@media screen and (max-width: 900px) {
  .navbarSection {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 25vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: none;
  }

  .navtabuser {
    display:block;
    font-size:24px
  }

  .navTabName{
    display:contents;
    font-size:43px;
    font-weight:bold
  }

  .searchInput {
    width: 100%;
    background: none;
    border: 0;
    margin-right: 8px;
    outline: 0
  }
  

  .navbarTitle {
    display:none
  }
  
  .navbarBtn, .navbarItems {
      display: none;
  }
  
  .mobileNav {
      display: block;
  }
}