.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  
  .title {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .container {
    display: flex; 
    flex-direction: flex-row;
    justify-content: space-around;
    align-items: stretch;
    gap: 0.5rem; 
    margin: 0 0.5rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    gap: 1rem;
    background-color: #fffec4;
    border-radius: 10px;
    flex: 1; /* set value of flex-grow to 1*/
    filter: drop-shadow(1px 2px 0.2rem gray);
  }
  
  .description {
    position: relative;
    height: 10rem;
    display: inline-block;
    overflow: hidden; /* give ellipsis effect when description too long*/
    text-overflow: ellipsis;
    white-space: wrap;
  }
  
  .button {
    border: 0;
    padding: 0.4rem 0.9em;
    border-radius: 10px;
    font-weight: bold;
    background-color: #cbffa9;
  }
  
  .mainImage {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
  }

  .navTabName {
    margin-top: 0em;
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  .navTabDesc {
    margin-left: 0.5em;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  @media screen and (max-width: 900px) {
    .navTabName {
      display:none
    }
  }