body, html {
  font-size:90%
}

.herosection {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}

.backbtn {
  display:flex;
  justify-content:start;
  align-items:start;
  font-size:20px;
  color:black
}

.imgBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.navbarbutton {
  color:black;
  border:none;
  background:none
}

.heroimagesection {
  background: url('/back.png');
  background-size: cover;
  max-width: 30%;
  height: 100%;
  text-align: center;
}

.heroimage1 {
  visibility: hidden
}

.formsection {
  width: 70%;
  padding: 0 32px;
  text-align: center;
}

.logoImg {
  width: inherit;
  max-width: 30em;
  margin-bottom: 4em;
  border-radius: 100px 10cm 120px/100%;
  border: 2px solid grey;
  padding: 3em;
}

.textdescription {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.textdescription h5 {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  margin-bottom: 4em;
}

.form {
    margin-left: 15%;
}

.inputFieldset {
  width: 85%;
  border-radius: 1em;
  border: 2px solid #b0aaaa;
  color:black;
  margin-bottom:1em;
}

.errorFieldset {
  width: 85%;
  border-radius: 1em;
  border: 2px solid red;
  color:black;
  margin-bottom:1em;
}

.inputVal {
  background:none !important;
  padding:1.2em;
  font-size:16px
}

.errorMessage {
  color: #ee0b0b
}

.btnUser { 
  float:left;
  width: 85%;
  height: 8vh;
  color: #fff;
  font-size:1.1em;
  background: #1a65eb;
  border-radius: 1em;
  margin-bottom: 2em;
  margin-top:3em; border:none
}

@media screen and (max-width: 900px) {
  .herosection {
    height: 90vh;
    padding-top: 1em;
    align-items: baseline;    
  }

  
  .formsection {
    width: 100%;
  }

  .form {
    margin-left: 0%;
  }

  .inputFieldset {
    margin-bottom:1em;
  }

  .logoImg {
    width: inherit;
    max-width: 22em;
    margin-bottom: 4em;
  }

  .textdescription h5 {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    margin-bottom: 3em;
  }

  .heroimagesection {
    display: none;
  }

  .inputFieldset {
    width: 100%;
  }
  
  .errorFieldset {
    width: 100%;
  }

  .btnUser { 
    float: left;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 3em;
  }
}

/* Responsive */
@media screen and (max-width: 600px) {
  .herosection {
    padding-top:3em;
    align-items: baseline;    
  }

  .backbtn {
    display:none
  }

  .formsection {
    width: 100%;
  }

  .form {
    margin-left: 0%;
  }
  
  .heroimagesection {
    display: none;
  }

  .inputFieldset {
    width: 100%;
  }
  
  .errorFieldset {
    width: 100%;
  }

  .btnUser { 
    float:left;
    width: 100%;
  }
}
 /* @media screen and (max-width: 600px) {
  .heroimagesection {
    display: none;
  }

  .formsection {
    width: 100%;
  }

  .logoImg {
    display:none
  }
  
  .texttitle {
    font-size: 28px;
  }

  .textdescritpion {
    font-size: 16px;
  }
}  */