* {
    font-size: 1em;
}

ion-toolbar {
    --background: url('https://i.pinimg.com/originals/c1/5d/4c/c15d4c0edac11fa465084aeae1f4a7c5.jpg');
    --color: white;
    --min-height: 60px;
    --padding-top: 1.2em;
    --padding-bottom: 1.2em;
}

ion-title,
ion-button {
    font-size: 1.6em;
}

.lower-div {
    background-color: #fff;
    text-align: center;
    padding-top: 2em;
}

.button-group {
    margin: auto;
    border-radius: 1.2em;
    //border: 1px solid #aeaaa9;
    border: 1px solid #4d7195;
    width: 80vw;
    height: 4em;
}

.btn {
    width: 50%;
    height: inherit;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: large;
    color: #4d7195;
}

.active {
    background-color: #4d7195;
    // background-color: #aeaaa9;
    border-radius: inherit;
    color: #fff
}

.para {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.4em;
    font-weight: 500;
    color: #7a7a7d;
}

legend {
    color: #5e5e60;
}

.input-item {
    width: 100%;
    border-radius: 1em;
    border: 2px solid #e2e2e2;

    ion-input {
        margin-top: -12px;
    }
}

.ion-item {
    margin-top: 10px;
    --background: #fff !important;
    --color: black;
}

.error-div {
    background-color: rgb(245, 172, 172);
    margin-left: 1.2em;
    margin-right: 1.2em;
    border-radius: 10px;
}

.login-button {
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    --border-radius: 12px;
    margin-top: 1.2em;
    --box-shadow: none;
    --background: #4d7195;
    text-transform: none;
}

ion-icon {
    font-size: 1em;
    margin-right: 1em;
}

.clear {
    padding-bottom: 3em;
    --background: #fff !important;
    --color: black;
}

.toast {
    height: 300px
}

toast {
    height: 300px
}

.toast-container {

    height: 300px !important
}