.navTabName {
  margin-left: 1em;
  font-size: 2em;
  margin-top: 1em;
}

.table {
  border: 1px solid #c1c3c4;
  font-size: 1rem;
  overflow: hidden;
  margin: 1em;
  background: #fff;
  border-radius: 0.7em;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr 0.8fr 1fr 1.5fr 1.5fr 0.7fr 1fr 1fr;
  column-gap: 0.3em;
  align-items: center;
  /* background-color: #f7f7f9; */
  background-color: #313132;
  color:#fff;
  border-bottom: 1px solid #c1c3c4;
  font-weight: bolder;
  padding: 0.5em;
  padding-bottom: 1em;
  padding-top: 1em; 
}

.headerColumns {
  border-right: 1px solid #c1c3c4;
}


.mobileNav {
  display:none
}

@media screen and (max-width: 900px) {
  .navTabName {
    display:none
  }

  .desktopNav {
    display:none
  }

  .mobileNav {
    display: block
  }
}