.table {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr 0.8fr 1fr 1.5fr 1.5fr 0.7fr 1fr 1fr;
    column-gap: 0.3em;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #c1c3c4;
}

.tableColumn {
    font-size: 1.15em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    display: flex;
    border-right: 1px solid grey
}

.table:nth-child(even) { 
  background-color: #f3f3f3; 
} 

.confirm {
    color: limegreen;
    
}

.cancel {
    color: red;
    
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em;
    border-radius: 20px
  }
  
  .card {
    width: calc(100% - 10px);
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-sizing: border-box;
    height: fit-content;
    padding: 1em;
  }

  .cardTopLeftDiv {
    display: grid;
    width: 30%;
    border-right: 1px solid #dddddd;
  }

  .dateText {
    text-align: right !important;
    color: #32518b;
    width: 85%;
    font-size:1.17em
  }

  .timeText {
    text-align: right !important;
    color: #32518b;
    width: 85%;
    font-size:1.5em
  }

  .cardTopRightDiv {
    display: block;
    margin-left: 1em;
    width: 70%
  }

  .patientName {
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    display: block
  }

  .patientDetailText {
    display: block;
    color: black;
    font-size: 1.2em;
  }

  .cardBottomLeftDiv {
    display: grid;
    width: 30%;
    border-right: 1px solid #dddddd;
  }

  .cardBottomRightDiv {
    display: block;
    margin-left: 1em;
    width: 70%;
    text-align: right
  }

  .innerDiv {
    display: flex;
    justify-content: space-between;
  }
  
  .bookingStatus {
    color: green;
    font-size: 1.3em;
    width: 46%;
    text-align: left;
  }

  .eta {
    text-align: right !important;
    color: red;
    width: 85%;
  }